# ENPM 808W Homework 2 

### Question 2 and 3

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [22]:
cwd = os.getcwd()
data_path = os.path.join(cwd,'Housing_data')

## 1 . Load and view training data

In [23]:
train_data = pd.read_csv(os.path.join(data_path,'house_train.csv'))
train_data.head()

   id    zip state         county  poverty  price2007  price2013
0   0  10467    NY          bronx     27.1     335200     294000
1   1  11226    NY          kings     21.9     471500     471600
2   2  60640    IL           cook     14.6     254600     174200
3   3  94109    CA  san francisco     10.6     707100     822600
4   4  11375    NY         queens     12.2     636400     681500

## 2. Load and view testing data

In [24]:
test_data = pd.read_csv(os.path.join(data_path,'house_test.csv'))
test_data.head()
#test_data.shape

   id    zip state      county  poverty  price2007
0   6  32162    FL      marion     13.0     265600
1  13  78572    TX     hidalgo     34.0      79900
2  20  11212    NY       kings     21.9     332000
3  30  37042    TN  montgomery     12.7      98700
4  37  85032    AZ    maricopa     12.9     266100

## 3 .Size of training and testing data

In [25]:
num_train = train_data.shape[0]
num_test = test_data.shape[0]
print("Number of training examples: {}".format(num_train))
print("Number of testing examples: {}".format(num_test))

Number of training examples: 8973
Number of testing examples: 1063

## 4. Inspect for Nan values

In [26]:
# number of nan values in each column in training and testing data

print('Nan values in training data')
print(train_data.isna().sum())

print('\n \n')

print('Nan values in testing data')
test_data.isna().sum()

Nan values in training data
id           0
zip          0
state        0
county       0
poverty      0
price2007    0
price2013    0
dtype: int64



Nan values in testing data

id           0
zip          0
state        0
county       0
poverty      0
price2007    0
dtype: int64

## Question 2. Predict 2013 home prices using state information only.   
###   Answer these questions using all of the training data available

a. What is the intercept? What does it correspond to?  
b. How do you get this information from your regression?  
c. Based on your regression coefficients, what states have the most and least expensive average homes?  
d. How do you get this information from your regression?  
e. What is the average price of homes in those states?  
f. How do you get this information from your regression?

## One hot encoding - states column
  
To predict the housing prices using only the state information -- We need to build a linear regression model on a set of categorical variables (states column).  
To do this, 
1. I `One hot encoded` the states column as shown below.
2. To encode the column, first I concatenated the states column into a single dataset to ensure that the encoding is uniform across the trainging and testing dataset.

In [27]:
dataset = pd.concat(objs=[train_data['state'], test_data['state']], axis=0)
encoded_states = pd.get_dummies(data=dataset)
encoded_states.head()

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,RI,SC,TN,TX,UT,VA,WA,WI,WV,WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Train, test data for encoded states column

* split concatenated dataset into train and test

In [28]:
# X data
X_train = encoded_states[:int(num_train)]
X_test = encoded_states[num_train:]


# Y data
Y_train = train_data['price2013'][:int(num_train)]

print(X_train.shape, Y_train.shape)
print(X_test.shape)

(8973, 46) (8973,)
(1063, 46)

## Fit linear regression

In [29]:
model = LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

## Answer 2 (a) & (b) : Intercept

* The intercept of the model is shown below. 
* From a mathematical point of view, the intercept of the model is the expected mean value of Y when all X = 0.
* To get this information from the regression, I simple extracted the value from the model. Its meaning varies w.r.t to the data set. For example in our case, we know that all X can     never be 0 since X has been obtained by hot encoding the states column.

In [30]:
intercept = model.intercept_
print('The intercept of the model is {}'.format(intercept))

The intercept of the model is 2.159872127769694e+18

## Answer 2(c) & (d) Coefficients     
* The coefficients of the model are shown below. 
* Also, the ranking of homes from most expensive to least are shown. California has the most expensive average homes where as West Virginia has the least expensive. 
* To get this information from the regression, I simple extracted the value of the coefficients of the regression model. By intuition, the state which has the largest coefficient associated with it has the most expensive homes and vice versa. Since we are only using the encoded states column to predict the price, effectively our regression model only predicts the average price in the states.

In [31]:
# features of the model
features = X_train.columns

# coefficients of the model
coef = model.coef_
# order of coefficients in ascending order order
inds = np.argsort(coef)
rank = 1
print(" \n Ranking states which have the most expensive average homes: \n")
# print rank of most expensive homes
for i in reversed(inds):
    print('{}. {}'.format(rank, features[i]))
    rank+=1

 Ranking states which have the most expensive average homes:

1. CA
2. DC
3. HI
4. MA
5. NJ
6. NY
7. VA
8. CT
9. MD
10. AK
11. WA
12. CO
13. UT
14. MT
15. RI
16. OR
17. NV
18. DE
19. AZ
20. MN
21. NH
22. WY
23. NM
24. FL
25. IL
26. PA
27. WI
28. TX
29. IA
30. MO
31. NC
32. ND
33. SC
34. GA
35. KY
36. MI
37. NE
38. IN
39. KS
40. LA
41. AL
42. TN
43. AR
44. OH
45. OK
46. WV

## Answer 2 (e) and (f)
  
Average value of homes in most and least expensive states :

* As shown below, the average price in the most expensive state is : 520192
* The average price in the lease expensive state is : 94208
* To get this information, I added the model intercept with the model coefficient associated with that state.

In [32]:
# average value 
most_expensive = intercept + coef[inds[-1]]
least_expensive = intercept + coef[inds[0]]

print('The price in the most expensive state is : {}'.format(most_expensive))
print('The price in the least expensive state is : {}'.format(least_expensive))

The price in the most expensive state is : 520192.0
The price in the least expensive state is : 94208.0

## Prediction

In [33]:
prediction = model.predict(X_test)
print(prediction[:10])

[178944. 158464. 300288. 127488. 207872. 298752. 520192. 262400. 508928.
 178944.]

* ***************************************************************************************************************************************************************************************

## Answer 3.  Predict 2013 home prices from state and county information.

* First, both the states and the county column were `One hot encoded`
* Following that, similar analysis was done as question 2 to get the counties with max coefficients.
* An interesting observation was found - It can be seen below that the answer is split into two cases. In case 1
  encoding has been done after concatenating the train and test data into 1  to ensure that the encoding is uniform.
* In this case it can be be observed that Bossier county has the max index where as Hill county has the lowest. The interesting part is that
  both these counties are not present in the training data. 
* In case 2, only the training data has been encoded to find the counties that have the max coeficients within the training data.
* It is observed that Bernalillo county in New Mexico has the highest coefficient where as Ascension county in LA has the lowest. 

#### Reasoning

* The coefficients of individual counties represent the average county price w.r.t to the state price. For example, the counties with positive coefficients have average house price higher than
  the average state price.  
* Similarily, counties with negative coefficients have avergae price lower than the average state price.
* It can be seen that in a analysis, Ascension county has a large negative coef. This means that the average price in that county significantly lower than the state average.

## Case 1 : Encoding after concatenating test and train into one

In [34]:
train_data = pd.read_csv(os.path.join(data_path,'house_train.csv'))
test_data = pd.read_csv(os.path.join(data_path,'house_test.csv'))
num_train = train_data.shape[0]
num_test = test_data.shape[0]

In [35]:
dataset = pd.concat(objs=[train_data, test_data], axis=0)
dataset = pd.get_dummies(dataset, columns=['state','county'])
dataset = dataset.drop(['id', 'zip', 'poverty','price2007'], axis=1)
dataset.head()
#encoded_states = pd.get_dummies(dataset)
#encoded_states.head()

,price2013,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,...,county_yadkin,county_yakima,county_yamhill,county_yates,county_yavapai,county_yellowstone,county_yolo,county_york,county_yuba,county_yuma
0,294000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,471600.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,174200.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,822600.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,681500.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Train and test data

In [36]:
train = dataset.iloc[:num_train]
test = dataset.iloc[num_train:]

# training data
train_y = train['price2013']
train_x = train.drop(['price2013'], axis=1)

# testing data
test_x = test.drop(['price2013'], axis=1)

## Fit linear regression

In [37]:
model = LinearRegression()
model.fit(train_x,train_y)

LinearRegression()

## Counties with and min and max coefficients

In [38]:
# all columns in training data
columns = train_x.columns

# model coefficients
coef = model.coef_

# dictionary of county coefficients
coeff_dict = {k:v for k,v in zip(columns,coef) if 'county' in k}

# county with max and min coefficeints
v=list(coeff_dict.values())
k=list(coeff_dict.keys())
print('The county with max index is : {}'.format(k[v.index(max(v))]))
print('The county with min index is : {}'.format(k[v.index(min(v))]))

The county with max index is : county_bossier
The county with min index is : county_hill

## Case 2: Encoding just the train data

In [39]:
# load data
train_data = pd.read_csv(os.path.join(data_path,'house_train.csv'))
dataset = pd.get_dummies(train_data, columns=['state','county'])
dataset = dataset.drop(['id', 'zip', 'poverty','price2007'], axis=1)

# training data
train_y = dataset['price2013']
train_x = dataset.drop(['price2013'], axis=1)

# fit model 
model = LinearRegression()
model.fit(train_x,train_y)

LinearRegression()

In [40]:
# all columns in training data
columns = train_x.columns

# model coefficients
coef = model.coef_

# dictionary of county coefficients
coeff_dict = {k:v for k,v in zip(columns,coef) if 'county' in k}

# county with max and min coefficeints
v=list(coeff_dict.values())
k=list(coeff_dict.keys())
print('The county with max index is : {}'.format(k[v.index(max(v))]))
print('The county with min index is : {}'.format(k[v.index(min(v))]))

The county with max index is : county_bernalillo
The county with min index is : county_ascension